.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input-box {
    display: flex;
    align-items: center;
    width: 80%;
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.2rem;
  gap: 1.4rem;
}
